<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="utilisateur != undefined">
    Welcome {{ utilisateur["pseudo"]  }} {{ utilisateur["prenom"]  }}
  </div>
</ion-content>



<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home" color="primary"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="/jeux">
      <ion-label>Jeux</ion-label>
      <ion-icon name="game-controller" color="primary"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
