<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="profil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" color="danger" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Communauté</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/menu">
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline" color="primary"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="/jeux">
      <ion-label>Jeux</ion-label>
      <ion-icon name="game-controller-outline" color="primary"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="/stat">
      <ion-label>Stats</ion-label>
      <ion-icon name="stats-chart-outline" color="primary"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="/carte">
      <ion-label>Carte</ion-label>
      <ion-icon name="map" color="primary"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
